
body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #303f9f;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1976D2;
    padding: 10px;
    text-align: center;
}

main {
    text-align: center;
    padding: 20px;
}

video {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.poll {
    margin: 20px 0;
}

.chat {
    background-color: #1a237e;
    padding: 15px;
    border-radius: 8px;
}

input {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px;
    cursor: pointer;
    background-color: #1976D2;
    color: #fff;
    border: none;
}

label{
    display: block;
    margin-bottom: 10px;
}

footer {
    background-color: #0d47a1;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

iframe {
    width: 100%;
    height: 400px; /* Set a fixed height or adjust as needed */
    border: 1px solid #fff; /* Add a border for visibility */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.poll-container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.poll-question {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.poll-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.poll-option {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.poll-option:hover {
    background-color: #e6e6e6;
}

.poll-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
}

#chat-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    height: 300px;
}

#message-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}